.container {
  padding: 32px;
  max-width: 1200px; 
  min-width: 668px;
  margin: 0 auto;
}

.date {
  margin: 8px 0 16px 0;
}

.dateCards {
  display: flex; 
  flex-wrap: wrap;
  gap: 16px;
}

.dateCard {
  border: 1px solid var(--main-color);
  border-radius: 4px;
  padding: 16px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: calc(25% - 12px);
}

.timeRow {
  display: flex;
  justify-content: space-between;
  font-weight: bold;
}

.windRow {
  margin-top: auto;
}
